button {
  cursor: pointer;
  border-radius: 21px;
  box-shadow: 1px 3px 5px black;
}

.start {
  background-color: #9dbf9e;
}

.pause {
  background-color: #ee7674;
}

.reset {
  background-color: #bda5b0;
}

.pomodoro {
  display: flex;
  justify-content: center; 
  flex-direction: row;
  background: url(/assets/pomodoro.png) no-repeat center center;
  min-height: 190%;
  margin-right: -15px;
  margin-left: -15px;
}

.count {
  background-color: #c8e7c9;
  text-align: center;
  font-size: 1em;
  border-radius: 10px;
  padding: 10px;
}

.display {
margin-top: 95px;
margin-bottom: -80px;
}
