<div class="row d-flex justify-content-center">
  <p class=" col-3 count">Count: {{counter}}</p>
</div>

<div *ngIf="inBreak" class="alert alert-info  fade show" role="alert">{{breakMessage}}
  <button type="button" class="close" data-dismiss="alert" aria-label="Close">
    <span aria-hidden="true">&times;</span>
  </button>
</div>

<div class="jumbotron text-center">
  <h1>{{display}}</h1>
</div>
<div class="text-center">
  <button [disabled]="isRunning" type="button" class="btn start" (click)="startTimer()">Start
  </button>
  <button type="button" class="btn pause" (click)="pauseTimer()">pause</button>
  <button type="button" class="btn reset" (click)="resetTimer()">Reset</button>
</div>
